.react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 0;
    border: 1px solid #CACACA;
    border-radius: 0px;
    line-height: 25px;
    height: 42px;
    width: 552px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .react-tel-input .form-control {
        width: 272px;
    }
  }