@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #0306376f; */
  /* background-color: #05819a; */
  background-color: #31708E;
}


/* defalut text color setting */
.default-text-color{
  /* color: #323738; */
  color: white;
}
/* defalut text heading setting */
.dafault-heading{
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  color: white;
  font-weight: 700;
  margin-bottom: 100px;
}

/* defalut margin setting  */
@media (min-width: 1024px) {
  .default-margin {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .default-margin {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.default-margin {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}
